<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Backend Python - EBAC</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: "Roboto", sans-serif;
    }
  </style>
</head>

<body class="bg-gray-100 text-gray-900">

  {% block content %}
  {% endblock content %}

  <script>
    // Toggle mobile menu
    document.getElementById('menu-toggle').addEventListener('click', function () {
      const menu = document.getElementById('mobile-menu');
      menu.classList.toggle('hidden');
    });
  </script>
</body>

</html>
